:root {
    --headinglight: #3b6dc3;
    --headingdark: #230555;
    --searchbtncolour: #5aa2e9;
    --searchbtnhover: #055eb8;
    --darkbg: #33475a;
    --greybg: #b7b7b7;
    --low: #83c88b;
    --moderate: #ffdc01;
    --high: #f89c1c;
    --veryhigh: #ee1d23;
    --extreme: #d83484;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;

}

nav {
    color: white;
    background-image: linear-gradient(to right, var(--headinglight), var(--headingdark));
    text-align: center;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: white;
    border: none;
    outline: none;
    background-color: var(--searchbtncolour);
    /* box-shadow: 3px 3px var(--dark); */
    /* transform: translate(-1px, -1px); */
}

.btn:hover {
    color: white;
    background-color: var(--searchbtnhover);
    transform: translate(0, 0);
    box-shadow: 2px 2px darkgrey;
  }

.forecast-card {
    color: white;
    background-color: var(--darkbg);
}


.low {
    background-color: var(--low);
}

.moderate {
    background-color: var(--moderate);
}

.high {
    background-color: var(--high);
}

.veryhigh {
    background-color: var(--veryhigh);
}

.extreme {
    background-color: var(--extreme);
}

/* .card {
    color: black;
    margin: 0 0 20px 0;
    border: 3px solid black;
    border-radius: .3rem;
} */

.card-header {
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}
